html {
	background-color: white;
}

body {
	background: url("https://upload.wikimedia.org/wikipedia/commons/f/f6/James's_Flamingo_mating_ritual.jpg");
	background-color: #white;
	height: 1000px;
	width: 1000px;
	margin: auto;
}

.container {
	background-color: #white;
	opacity: 1;
	width: 900px;
	margin: auto;
}

h1 {
	margin: auto;
	text-align: center;
	font-family: 'Fascinate Inline', cursive;
	color: white;
	font-size: 80px;

}

h2 {
	
	text-align: center;
	font-family: 'Fascinate Inline', cursive;
	color: gray;
	font-size: 30px;
}

.bubble
{
position: relative;
width: 500px;
height: 400px;
padding: 0px;
background: #FFFFFF;
-webkit-border-radius: 41px;
-moz-border-radius: 41px;
border-radius: 41px;
border: #69627F solid 16px;
top: 350px;
left: 200px;
opacity: 0.5;
}

p
{
	text-align: center;
	font-family: 'Fascinate Inline', cursive;
	color: gray;
	font-size: 20px;
}
